.DS_Store
.env
.sesi_cache.json
logs
.artifacts
*.db
database/.agent/*-brain-summary.json
SesiDo/database/.agent/*-brain-summary.json
.trash
temp.sesi
index.html
SesiDo/database/.agent/*-memory-block.md
helpers/version-bump.sesi
database/.agent/*-memory-block.md
